<h1>Events Waiting For Publishing</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Event Name</th>
      <th>Created at</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.created_at.strftime("%d %b  %Y at %I:%M%p")%></td>
        <td>
          <% if event.ticket_types.length == 0 %>
            <%= link_to new_event_ticket_type_path(event_id: event.id) do %>
              <button class='btn btn-lg btn-block btn-warning'> Add Ticket Type </button>
            <% end %>
          <% else %>
            <%= link_to publish_event_path(id: event.id), method: "post" do %>
              <button class='btn btn-lg btn-block btn-success'> Publish </button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>